body{
  background-color: cadetblue;
  font-family: courier-Bold, courier;}
h1{
  color: navyblue;
  text-align:center}
.assign{
  display: flex;
  padding: 100px;
  margin: 100px;
  background: gray;}
.assign img{
  width:400px;
  padding: 10px;}
