body{
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;}
h1{
  color: navyblue;
  text-align:center}
.assign{
  display: flex;
  padding: 100px;
  margin: 100px;
  background: gray;}
.assign img{
  width:200px;
  padding: 100px;}
